body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}
 *{
  margin: 0;
  padding: 0;
 }
.navbarContainer{
    background-color: #292828;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
.storeDetailContainer{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.searchContainer{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
.searchContainer input{
   width: 25vw;
   padding-left: 35px;
   height: 30px;
   font-size: 16px;
   outline: none;
   background-color: #373737;
   border: none;
   color: white;
   border-radius: 5px;
}

.searchContainer img{
   position: relative;
   left: 49px;
}
.searchContainer button{
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #373737;
    border: none;
    color: white;
}

.profileContainer{
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}
.profileContainer img{
    width: 20px;
}
.booksContainer{
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 30px;
  padding: 5px 30px;
  align-items: center;
  margin: 20px 12vw;
}
.bookContainer{
    display: flex;
    justify-content: space-between;
    width: 40%;
    background-color: aquamarine;
    
}
.bookCoverContainer img{
     width: 160px;
     height: 240px;
}
.selectedBookItem{
    display: flex;
    justify-content: start;
    padding: 10px 10px;
    gap: 30px;
    background-color: #415F71;
    margin: 60px 8vw;
    border-radius: 10px;
    height:300px;
    padding-right: 60px;
}
.selectedBookItem img{
  width: 240px;
  height: 360px;
  transform: rotate(-8deg);
  position: relative;
  top: -20px;
  left: -50px;
}
.bookInfoBtnContainer{
  display: flex;
  justify-content: end;
  gap: 20px;
  padding-right: 40px;
}
.bookInfoBtnContainer button{
  padding: 8px 25px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.selectedBookDetailsDiv{
  display:  flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
}
.descriptionContainer p{
     height: 110px;
     overflow: hidden;
}
.bookHeadingDiv{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}
.rightHalfBookDetailsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}



@media(max-width: 720px) {
  .navbarContainer{
    flex-direction: column;
    justify-content: space-between;
    padding:8px 10px;
    align-items: center;
    row-gap: 20px;
  }
  .navbarContainer img{
      width: 50px;
  }
  .profileContainer img{
    width: 20px;
  } 
 
  .searchContainer button{
    border-radius: 5px;
    padding: 3px 15px;
    background-color: #373737;
    border: none;
    color: white;
    height: 24px;
  }
  .searchContainer input{
    width: 100%;
    padding-left: 35px;
    height: 24px;
    font-size: 16px;
 }
 .searchContainer img{
      width: 14px;
 }
 .bookInfoBtnContainer{
  justify-content: center;
  column-gap: 20px;
}
.bookInfoBtnContainer button{
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
.bookHeadingDiv{
  flex-direction: column;
  padding-right: 0px;
  align-items: start;
}
.bookCoverContainer img{
  width: 140px;
  height: 210px;
}
}
@media (max-width: 950px){
  .profileContainer{
    display: flex;
    justify-content: space-between;
    column-gap:20px;
}
.selectedBookItem{
  gap: 10px;
  background-color: #415F71;
  margin: 40px 0vw;
  border-radius: 8px;
  height:370px !important;
  padding-right: 0px;
}
}
@media (max-width: 1055px) {
  .selectedBookItem{
    gap: 0px;
    background-color: #415F71;
    margin: 50px 8vw;
    border-radius: 8px;
    height:280px;
    padding-right: 15px;
 }
.selectedBookItem img{
  width: 200px;
  height: 310px;
  transform: rotate(-8deg);
  position: relative;
  top: -10px;
  left: -40px;
  padding-left: 20px;
  }
}
@media (max-width: 550px){
  .selectedBookItem{
    gap: 0px;
    background-color: #415F71;
    flex-direction: column;
    padding: 20px 15px;
    align-items: center;
    justify-content: center;
    height: max-content !important;

 }
 .selectedBookItem img{
  width: 160px;
  height: 240px;
   transform: rotate(0);
   padding: 0px;
  }
 .descriptionContainer p{
  max-height: 110px;
  overflow: hidden;
}
}